.introducao {
  max-width: 120rem;
  padding: 4rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10rem;
  align-items: center;
}

.foto-perfil {
  border-radius: 50%;
}

.introducao h1 {
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 8rem;
  margin-bottom: 30px;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background-image: url('../img/detalhe.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.introducao p {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 6rem;
  }
}

@media (max-width: 800px) {
  .introducao  {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .introducao h1 {
    font-size: 5rem;
  }
  .introducao h1::before {
    width: 3rem;
    height: 1.5rem;
    left: 0;
  }
}

@media (max-width: 550px) {
  .introducao {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .introducao img {
    display: none;
  }
}